name: Build Binaries

on:
    push:
      tags:
        - 'v*'

jobs:

  build-windows-binary:
      runs-on: windows-latest
      steps:

          - name: 'Checkout'
            uses: actions/checkout@v6

          - name: Set up Python
            uses: actions/setup-python@v6
            with:
              python-version: 3.13

          - name: Create and start virtual environment
            run: |
              python3 -m venv venv
              venv\Scripts\activate.bat

          - name: Install dependencies
            run: pip install -r src/requirements.txt

          - name: Build Windows binary
            run: pyinstaller --onefile -w src/awsmanager.py -n awsmanager-windows-${{ github.ref_name }}.exe --icon=icons/Happy_Cloud.ico

          - name: Upload artifact
            uses: actions/upload-artifact@v6
            with:
                  name: awsmanager-windows-${{ github.ref_name }}.exe
                  path: dist/awsmanager-windows-${{ github.ref_name }}.exe   

  build-linux-binary:
      runs-on: ubuntu-latest
      steps:

          - name: 'Checkout'
            uses: actions/checkout@v6

          - name: Update disitribution
            run: sudo apt-get update && sudo apt-get upgrade -y

          - name: Install dependencies
            run: sudo apt-get install build-essential libgtk-3-dev

          - name: Set up Python
            uses: actions/setup-python@v6
            with:
              python-version: 3.13

          - name: Create and start virtual environment
            run: |
              python3 -m venv venv
              source venv/bin/activate

          - name: Install dependencies
            run: pip install -r src/requirements.txt

          - name: Build Linux binary
            run: pyinstaller --onefile src/awsmanager.py -n awsmanager-linux-${{ github.ref_name }} --icon=icons/Happy_Cloud.ico

          - name: Upload artifact
            uses: actions/upload-artifact@v6
            with:
              name: awsmanager-linux-${{ github.ref_name }}
              path: dist/awsmanager-linux-${{ github.ref_name }}

  deploy:
    runs-on: ubuntu-latest
    needs: [build-windows-binary, build-linux-binary]
    steps:
        - uses: actions/download-artifact@v7
          with:
            name: awsmanager-linux-${{ github.ref_name }}

        - uses: actions/download-artifact@v7
          with:
            name: awsmanager-windows-${{ github.ref_name }}.exe

        - name: Create Release
          id: create_release
          uses: softprops/action-gh-release@v2
          with:
            tag_name: ${{ github.ref_name }}
            name: Release ${{ github.ref_name }}
            draft: false
            prerelease: false
            generate_release_notes: true
            files: |
              awsmanager-linux-${{ github.ref_name }}
              awsmanager-windows-${{ github.ref_name }}.exe